

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Node
node_modules/

# Environment
.env
.env.local

# Foundry build artifacts
cache/
out/
broadcast/


forge-std/
chainlink/

# Other
*.log
.DS_Store
.vscode/
.idea/